{% extends 'network/layout.html' %}

{% load static %}

{% block body %}

<section class="content">
    {% if user.is_authenticated %}
    <div id="post-content">
        <div class="container">

            <div class="row">
                
                <div id="users-following" class="col-12">

                    <div id="users-following-title">
                        <h2>Following</h2>
                    </div>
                    <div class="users-following-container">
                        {% for user in users_following %}
                        <div class="user-following-container col-12">
                            <div class="posts">
                                <div class="row">
                                    <div class="post-photo" class="col-2">
                                        <a href="{% url 'profile' username=user.username %}">
                                            <img src="{{user.profile_image.url}}" alt="" />
                                        </a>
                                        
                                    </div>
                                    <div class="post-name col-8">
                                        <a href="{% url 'profile' username=user.username %}">
                                            <h6>{{user.first_name}} {{user.last_name}} <span class="post-username">@{{user.username}}</span></h6>
                                        </a> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    

                </div>
                
            </div>
        </div>
    </div>
    {% endif %}

    <div id="profile-content">

        <div class="container">

            <div class="row">
                <aside id="profile-space" class="col-10">
                    {% if request.user.is_authenticated %}
                    <div class="row">
                        <div class="profile-photo">
                            <a href="{% url 'profile' username=current_user.username %}">
                                <img src="{{current_user.profile_image.url}}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="profile-name">
                            {% if current_user.first_name|length >= 1 and current_user.last_name|length >= 1 %}
                            <h4>{{current_user.first_name}} {{current_user.last_name}}</h4>
                            {% else %}
                            <h4>@{{current_user.username}}</h4>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </aside>
            </div>

            {% if request.user.is_authenticated %}
            <div class="row">
                <aside id="aside-logout" class="col-10">
                    <a href="{% url 'logout' %}">Log out</a>
                </aside>
            </div>
            {% endif %}
        
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="published-content">
        <div class="container">

            <div class="row">
                <div id="published-post" class="col-12">
                    {% for post in posts%}
                    <div class="posts">
                        <div class="row">
                            <div class="post-photo" class="col-2">
                                <a href="{% url 'profile' username=post.user %}">
                                    <img src="{{post.user.profile_image.url}}" alt="" />
                                </a>
                                
                            </div>
                            <div class="post-name col-6">
                                <a href="{% url 'profile' username=post.user %}">
                                    <h6>{{post.user.first_name}} {{post.user.last_name}} <span class="post-username">@{{post.user.username}}</span></h6>
                                </a> 
                            </div>
                        </div>
                        <div class="row">
                            <p class="post-date col-12">{{post.created_at|date:"SHORT_DATE_FORMAT"}}</p>
                        </div>
                        <div class="row">
                            <p class="post-content col-12">{{post.content|linebreaksbr}}</p>
                            
                        </div>
                        <div class="row">
                            <div class="post-buttons col-12">
                                <span class="num-likes id_num_likes{{post.id}}">{{post.likes.count}} Likes</span>
                                {% if request.user.is_authenticated %}
                                <span class="{% if request.user in post.likes.all %}in-like-post{% else %}like-post{% endif %} id_color_like{{post.id}}">
                                    <a id="like-post-link" data-postid="{{ post.id }}">N</a>
                                </span>
                                <span class="fav-post"><a href="">R</a></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                </div>
                

                <div class="pagination">
                    <div id="pagination-content">

                        <span class="step-links">
                        {% if posts.has_previous %}

                            <a href="?page=1">&laquo; First</a>
                            <a href="?page={{ posts.previus_page_number }}">Previus</a>

                        {% endif %}

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>

                        {% if posts.has_next %}

                            <a href="?page={{ posts.next_page_number }}">Next</a>
                            <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>

                        {% endif %}

                    </span>

                    </div>
                    
                </div>

            </div>

        </div>
    </div>
    
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'network/like_post.js' %}"></script>
{% endblock %}
